$theme-colors: (
  'primary': #009970,
  'secondary': #ddddde,
  'accent-background': #ffffff,
  'black-fade': #36343a,
  //SECONDARY-FONT-COLOR
  'white': whitesmoke//PRIMARY-FONT-COLOR,
);
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
h6 {
  text-transform: uppercase;
}

p,
span,
a {
  font-family: 'Raleway', sans-serif;
}
.general-links {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}

.image-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url('../assets/images/hero-stock-1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 600px;
  // padding-top: 50px;
}
.image-overlay-content {
  justify-content: center;
  align-items: end;
  padding-top: 250px;
  text-align: center;
}
.footer-background-image {
  background: url('../assets/images/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}
.theme-gradient {
  background: var(
    --gradient,
    radial-gradient(
      2565.83% 271.15% at 18.54% 27.59%,
      rgba(157, 200, 153, 0.34) 0%,
      rgba(0, 153, 112, 0.8) 100%
    )
  );
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.spinner {
  animation: spin 1s linear infinite;
  display: inline-block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
